flake8==4.0.1
pandas==2.3.1
polars==1.31.0
psycopg2-binary==2.9.10
pyarrow==20.0.0
pypi-json==0.3.0
pytest==6.2.5
python-dotenv==0.20.0
PyYAML==6.0.2
SQLAlchemy==2.0.41
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.41.2
sqlparse==0.5.3